{% extends './template.html' %}
{% load static %}

{% block content %}
<h1>Dashboard</h1>
<div class="content">
    <div class="top col-8">
        <div class="user col-11">
            <div class="left col-4">
                <img src="{% static 'images/profile.jpeg' %}" alt="">
                <h3>User</h3>
            </div>
            <div class="right col-8">
                <ul>
                    <li><strong>Mobile: </strong><span>7981569113</span></li>
                    <li><strong>Email: </strong><span>xyz@gmail.com</span></li>
                    <li><strong>City: </strong><span>Hyderabad</span></li>
                </ul>
                <p><strong>College Name: </strong><span>XYZ College of Engineering</span></p>
            </div>
        </div>
        <div class="ead col-11">
            <img src="{% static 'images/ead.png' %}" alt="">
            <ul>
                <li>Visit our site</li>
            </ul>
        </div>
    </div>
    <div class="middle col-4">
        <div class="notice">
            <h2>Announcements:</h2>
        </div>
    </div>
</div>
{% endblock content %}