{% extends './template.html' %}
{% load static %}

{% block content %}
<span>
    <h1>Dashboard</h1>
    <img id="logo" src="{% static 'images/ead.png' %}" alt="">
</span>
<div class="content">
        <div class="card card1">
            <div class="profile">
                <img src="{% static 'images/profile.jpeg' %}" alt="Profile">
                <h3>John Doe</h3>
            </div>
            <div class="info">
                <ul>
                    <li>Email: <span>emailtemp@gmail.com</span></li>
                    <li>Mobile: <span>7981587112</span></li>
                    <li>City: <span>Hyderabad</span></li>
                    <li>College: <span>Sreenidhi College of Engineering</span></li>
                </ul>
            </div>
        </div>
        <div class="card">

        </div>
        <div class="card card3">
            <h3>Announcements:</h3>
            <div class="info">
                <ul>
                    <li>Event poster out, checkout the speakers now!</li>
                </ul>
            </div>
        </div>
        <div class="card">
            
        </div>
</div>
{% endblock content %}