{% extends './template.html' %}
{% load static %}

{% block content %}
   
<span>
    <h1>Dashboard</h1>
    <img id="logo" src="{% static 'images/ead.png' %}" alt="">
</span>
<div class="content">
        <div class="card card1">
            <div class="profile col-4">
                
                {% if userinfo.profile_image %}
                    <img src="{{userinfo.profile_image.url}}" alt="Profile">
                {% else %}
                    <img src="{% static 'images/user.png' %}" alt="Profile">
                {% endif %}
                
                <form class="profileForm" method = "post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    
                    {% for field in form %}
                        {{ field }} 
                    {% endfor %}

                    <button type="submit"><span class="material-symbols-outlined">
                        done
                        </span></button> 
                </form>

                <h3>{{user.name}}</h3>
            </div>
            
            {% if userinfo.is_ca %}
                <div class="share">
                    {% with referral as code %}
                        <a href="{% url 'ead_register' code=code %}" target="blank">Referral Link</a>
                    {% endwith %}
                </div>
            {% endif %}
                
            <div class="info col-8">
                <ul>
                    <li>Email: <span>{{user.email}}</span></li>
                    <li>Mobile: <span>{{userinfo.mobile}}</span></li>
                    <li>College: <span>{{userinfo.college_name}}</span></li>
                    <li>City: <span>{{userinfo.ead_city}}</span></li>
                    {% if userinfo.is_ca %}
                        <li><p>Referral Code:<p> <span>{{userinfo.referral_code}}</span></li>
                        <li><p>Referrals:</p> <span>{{referral_no}}</span></li>
                    {% endif %} 
                </ul>
            </div>
        </div>

        <div class="card card2">
            <h3>Referred Users:</h3>
            <div class="subcards">
                <ol>
                    {% for obj in referred_users %}
                        <li>{{obj.user}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="card card3">
            <h3>Notice:</h3>
            <div class="info">
                <ul>                    
                    {% for notice in notices %}
                        <li><strong>{{notice.title}}</strong>: {{notice.desc}} <br> {{notice.date}}</li>
                    {% endfor %}    
                </ul>
            </div>
        </div>
</div>

<script>
    const formFields = document.querySelectorAll('.profileForm input, .profileForm label');
    // const formTexts = document.querySelectorAll('.profileForm > :not(input):not(label)');

    formFields.forEach(field => {
        field.style.display = 'none';
    });

    formFields[formFields.length - 1].style.display = ''
    formFields[formFields.length - 1].style.width = '99px'

</script>

{% endblock content %}