{% extends './main.html' %}
{% load static %}

{% block content %}
<div class="form-container col-9">
    <p class="title">Register for EAD</p>
    <form class="form" action="" method="post">
        {% csrf_token %}

        {% for field in form.registration_form %}
            <div class="input-group">
                {{ field.label }}
                {% if field.name == 'password1' %}
                    <div class="password-container">
                        {{ field }}
                        <button type="button" class="password-toggle-btn" onclick="togglePassword()"><span class="material-symbols-outlined">
                            visibility
                            </span></button>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}

        {% for field in form.ead_user_form %}
            <div class="input-group">
                {% if field.name == 'is_ca' %}
                    <div class="ca-container">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% else %}
                    {{ field.label }}
                    {{ field }}
                {% endif %}
                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}

        <br>
        <button class="sign" type="submit">Register</button>
    </form>
    <p class="signin">Have an account?
        <a rel="noopener noreferrer" href="{% url 'ead_login' %}" class="">Sign In</a>
    </p>
</div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById("id_password1");
        const passwordToggleBtn = document.querySelector(".password-toggle-btn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleBtn.innerHTML = '<span class="material-symbols-outlined">visibility_off</span>';
        } else {
            passwordInput.type = "password";
            passwordToggleBtn.innerHTML = '<span class="material-symbols-outlined">visibility</span>';
        }
    }
</script>

{% endblock content %}
