{% extends './template.html' %}
{% load static %}

{% block content %}

{% if questionnaire %}
<div class="form-container col-10">
    <p class="title">Questionnaire</p>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group">
            {{ field.label }}
            {{ field }}
        </div>
        {% endfor %}
        <br>
        <button class="sign" type="submit">Submit</button>
    </form>
</div>
{% else %}
    
<span>
    <h1>Dashboard</h1>
    <img id="logo" src="{% static 'images/empresario.png' %}" alt="">
</span>
<div class="content">
        <div class="card card1">
            <div class="profile">
                
                {% if userinfo.profile_image %}
                    <img src="{{userinfo.profile_image.url}}" alt="Profile">
                {% else %}
                    <img src="{% static 'images/user.png' %}" alt="Profile">
                {% endif %}
                
                <form class="profileForm" method = "post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    
                    {% for field in form %}
                        {{ field }} 
                    {% endfor %}

                    <button type="submit"><span class="material-symbols-outlined">
                        done
                        </span></button> 
                </form>

                <h3>{{user.name}}</h3>
            </div>
            <div class="info">
                <ul>
                    <li>Startup: <span>{{userinfo.company_startup_name}}</span></li>
                    <li>Founder: <span>{{userinfo.team_leader}}</span></li>
                    <li>Email: <span>{{userinfo.primary_email}}</span></li>
                    <li>Mobile: <span>{{userinfo.primary_contact}}</span></li>
                    {% if userinfo.cofounder %}
                        <li>Co-founder: <span>{{userinfo.cofounder}}</span></li>
                    {% endif %}
                    <li>City: <span>{{userinfo.location}}</span></li>
                </ul>
            </div>
        </div>

        <div class="card card2">
            <h3>Status:</h3>
            <div class="subcards">
                <div class="card">
                    <h4 class="col-8">Questionnaire</h4>
                    <div class="status col-4 {{questionnaire}}">
                        {% if not questionnaire %}
                            Uploaded
                        {%else%}
                            Pending
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <h4 class="col-8">Business Model</h4>
                    <div class="status col-4 ">
                        Pending
                    </div>
                </div>
                <div class="card">
                    <h4 class="col-8">Result</h4>
                    <div class="status col-4 {{pitch}}">
                        {% if false %}
                            Released
                        {%else%}
                            Pending
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card card3">
            <h3>Notice:</h3>
            <div class="info">
                <ul>                    
                    {% for notice in notices %}
                        <li><strong>{{notice.title}}</strong>: {{notice.desc}} <br> {{notice.date}}</li>
                    {% endfor %}    
                </ul>
            </div>
        </div>

        <div class="card card4">
            <h2>Business Model</h2>
            <p>Upload your final business model report for evaluation. This prcoess cannot be repeated so make sure you are uploading the right file.</p>
            <input type="file" accept="pdf/*">
            <p style="opacity:1; font-size: 0.9rem;"><strong>Deadline:</strong> 26th Nov 2023</p>
        </div>
</div>

<script>
    const formFields = document.querySelectorAll('.profileForm input, .profileForm label');
    // const formTexts = document.querySelectorAll('.profileForm > :not(input):not(label)');

    formFields.forEach(field => {
        field.style.display = 'none';
    });

    formFields[formFields.length - 1].style.display = ''
    formFields[formFields.length - 1].style.width = '99px'

</script>


{%endif%}
{% endblock content %}