{% extends './template.html' %}
{% load static %}

{% block content %}
<span>
    <h1>Dashboard</h1>
    <img id="logo" src="{% static 'images/empresario.png' %}" alt="">
</span>
<div class="content">
        <div class="card card1">
            <div class="profile">
                <img src="{% static 'images/profile.jpeg' %}" alt="Profile">
                <h3>{{user.name}}</h3>
            </div>
            <div class="info">
                <ul>
                    <li>Team Leader: <span>{{user.name}}</span></li>
                    <li>Email: <span>{{user.email}}</span></li>
                    <li>Mobile: <span>{{userinfo.primary_contact}}</span></li>
                    <li>City: <span>{{userinfo.location}}</span></li>
                </ul>
            </div>
        </div>
        <div class="card">

        </div>
        <div class="card card3">
            <h3>Announcements:</h3>
            <div class="info">
                <ul>
                    <li>Event poster out, checkout the speakers now!</li>
                </ul>
            </div>
        </div>
        <div class="card">
            
        </div>
</div>
{% endblock content %}