.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}

.main .middle{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.main .middle .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Style the counter cards */
.main .middle .cards .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
    min-width: 240px;
    width: 25%;
    min-height: fit-content;
    
  }
  .main .middle .cards .card .profile{
     border-radius:10px 10px 0 0;
     transition: 0.2s;
     width: 100%;
  }
  /* .main .middle .cards .card:hover{
    
  } */
  
  .main .middle .cards .card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
  }
  .main .middle .cards .card .content .back{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #f1f1f1e6;
    transition:1s;
    border-radius: 10px;
    z-index:1;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main .middle .cards .from-left{
    top:0;
    left:-100%;
  }
  .main .middle .cards .card:hover .content .from-left {
     left:0%;
  }
  
  .main .middle .cards .from-bottom{
    top:100%;
    left:0;
  }
  .main .middle .cards .card:hover .content .from-bottom {
     top:0%;
  }
  
  .main .middle .cards .from-right{
    top:0%;
    right:-100%;
  }
  .main .middle .cards .card:hover .content .from-right {
     right:0;
  }
  
  .main .middle .cards .card .content .back h3{
    font-size:15px;
    letter-spacing:2px;
  }
  .main .middle .cards .card .content .back .tem-img{
    border-radius:100%;
  }
  
  .main .middle .cards .card .content .back .des{
    font-size:13px;
    padding:20px 0px;
  }
  .main .middle .cards .card .content .back .social-icon{
    list-style:none;
    margin:0px;
    padding:0px;
  }
  .main .middle .cards .card .content .back .social-icon li{
    display:inline-block;
  }
  
  .main .middle .cards .card .content .back .social-icon li a{
    display:block;
    background:#333;
    color:#fff;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:100%;
  }

  .main .middle .cards .card .content .back .social-icon li a:hover{
    background-color: #fff;
    color: #333;
  }