.main{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.main h1{
    text-align: center;
}

.main .content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    color: white;
}

.main .content .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .content .right{
    display: flex;
    flex-direction: column;
}

.main .content .left .card1{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 29px;
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 5px 6px 24px 0px rgba(0, 0, 0, 0.25);
}

.main .content .left .card .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    justify-content: center;
}

.main .content .left .card .profile img{
    border-radius: 100rem;
    width: 160px;
    height: 160px;
    filter: saturate(0);
}

.main .content .left .card .profile h3{
    margin: 0.5rem;
}

.main .content .left .card .info ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.main .content .left .card .info ul li{
    color: rgba(255, 255, 255, 0.8);
}

.main .content .left .card .info ul li span{
    color: white;
    margin: 0 0.2rem;
}

.main .content .left .card2{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    gap: 1rem;
    padding: 1rem;
    border-radius: 29px;
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 5px 6px 24px 0px rgba(0, 0, 0, 0.25);
}

.main .content .left .card2 h3{
    margin: 0.4rem 0;
}