{% extends './main.html' %}
{% load static %}

{% block content %}
    <div class="top col-11">
        <img src="{% static 'images/ecell-logo.png' %}" class="logo" alt="Entrepreneurship Cell, IIT Kharagpur">
        <h1>Registration Portal</h1>
        <p class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nobis cupiditate consequatur ex distinctio quo eveniet pariatur.</p>
        {% comment %} <a href="" target="blank">About Us
            <span class="material-symbols-outlined">
                arrow_right_alt
            </span> {% endcomment %}
        </a>
    </div>
    <div class="middle col-11">
        <div class="cards">
            <div class="card">
                <img src="{% static 'images/ead.png' %}" class="cardlogo" alt="GES"></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <button  onclick="window.location.href='/ead/register/'" class="register">Register
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </button>
                    <button onclick="window.location.href='/ead/login/'" class="login">Login
                        <span class="material-symbols-outlined">
                            login
                            </span> 
                    </button>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/lsm.png' %}" class="cardlogo" alt="GES"></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <button class="register" onclick="window.location.href='/lsm/register/'">Register
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </button>
                    <button class="login" onclick="window.location.href='/lsm/login/'">Login
                        <span class="material-symbols-outlined">
                            login
                            </span> 
                    </button>
                </div>
            </div>
            
            <div class="card">
                <img src="{% static 'images/empresario.png' %}" class="cardlogo" alt="Empresario"></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <button class="register">Register
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </button>
                    <button class="login">Login
                        <span class="material-symbols-outlined">
                            login
                            </span> 
                    </button>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/ges.png' %}" class="cardlogo" alt="GES"></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <button class="register">Register
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </button>
                    <button class="login">Login
                        <span class="material-symbols-outlined">
                            login
                            </span> 
                    </button>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/mas.png' %}" class="cardlogo" alt="GES"></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="buttons">
                    <button class="register">Register
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </button>
                    <button class="login">Login
                        <span class="material-symbols-outlined">
                            login
                            </span> 
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}