{% extends './template.html' %}
{% load static %}

{% block content %}
<h1>Dashboard</h1>
<div class="content">
    <div class="top col-8">
        <div class="user col-11">
            <div class="left col-4">
                <img src="{% static 'images/profile.jpeg' %}" alt="">
                
            </div>
            <div class="right col-8">
                <ul class="list-items">
                    <li><strong>StartUp Name: </strong><span>XYZ</span></li>
                    <li><strong>Mobile: </strong><span>7981569113</span></li>
                    <li><strong>Email: </strong><span>xyz@gmail.com</span></li>
                    <li><strong>City: </strong><span>Hyderabad</span></li>
                    
                </ul>
                
            </div>
        </div>
        <div class="ead col-11">
            <img src="{% static 'images/lsm.png' %}" alt="">
            <div class="payment">
                <li><strong>Schedule: </strong><span>PDF</span></li>
                <li><strong>Visit our Site: </strong><span>site web address</span></li> 
            </div>
        </div>
    </div>
    <div class="middle col-4">
        <div class="notice">
            <h2>Announcements:</h2>
        </div>
    </div>
</div>
{% endblock content %}