{% extends './main.html' %}
{% load static %}

{% block content %}
{% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}

            <div class="form-container col-9">
                <p class="title">Login</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input-group">
                        {{ field.label }}
                        {% if field.name == 'password' %}
                            <div class="password-container">
                                {{ field }}
                                <button type="button" class="password-toggle-btn" onclick="togglePassword()"><span class="material-symbols-outlined">
                                    visibility
                                    </span></button>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="next" value="{% url 'lsm_dashboard' %}">
                    <br>
                    <button class="sign" type="submit">Login</button>
                </form>
                
                <p class="signin">Don't have an account? <a href="{% url 'lsm_register' %}">Signup</a></p>

            </div>

            <script>
                function togglePassword() {
                    const passwordInput = document.getElementById("id_password");
                    const passwordToggleBtn = document.querySelector(".password-toggle-btn");
            
                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        passwordToggleBtn.innerHTML = '<span class="material-symbols-outlined">visibility_off</span>';
                    } else {
                        passwordInput.type = "password";
                        passwordToggleBtn.innerHTML = '<span class="material-symbols-outlined">visibility</span>';
                    }
                }
            </script>
{% endblock content %}